In [1]:
import pandas as pd

import sqlalchemy
from sqlalchemy import create_engine, inspect

In [2]:
engine = create_engine('sqlite:///football_new.db')
inspector = inspect(engine)

In [3]:
inspector.get_table_names()

['cfb_positions',
 'cfb_recruits',
 'drafted_recruits',
 'nfl_draft',
 'nfl_positions',
 'nfl_teams',
 'sqlite_sequence']

In [4]:
drafted = pd.read_sql_table('drafted_recruits', engine)
drafted.head(10)

,PLAYER,POS_CFB,YEAR_RECRUITED,RNK_RECRUITED,STAR,247_SCORE,COLLEGE_CFB,HOME_CITY,HOME_STATE,LAT,LNG,YEAR_DRAFTED,DRAFT_RND,DRAFT_PICK,NFL_TEAM,POS_NFL,COLLEGE_NFL
0,Joe McKnight,RB,2007,1,5,0.9997,USC,New Orleans,LA,30.032802,-89.975005,2010,4,112,NYJ,RB,USC
1,Tyrann Mathieu,CB,2010,223,4,0.9132,LSU,New Orleans,LA,30.032802,-89.975005,2013,3,69,ARI,DB,LSU
2,Trai Turner,OG,2011,355,3,0.8765,LSU,New Orleans,LA,30.032802,-89.975005,2014,3,92,CAR,OL,LSU
3,Deion Jones,OLB,2012,378,3,0.8899,LSU,New Orleans,LA,30.032802,-89.975005,2016,2,52,ATL,OLB,LSU
4,Lorenzo Doss,ATH,2012,1123,3,0.8354,Tulane,New Orleans,LA,30.032802,-89.975005,2015,5,164,DEN,CB,Tulane
5,Jimmy Clausen,PRO,2007,2,5,0.9988,Notre Dame,Thousand Oaks,CA,34.171427,-118.910588,2010,2,48,CAR,QB,Notre Dame
6,Casey Matthews,ILB,2007,347,3,0.8764,Oregon,Thousand Oaks,CA,34.171427,-118.910588,2011,4,116,PHI,LB,Oregon
7,Cassius Marsh,DT,2010,118,4,0.9441,UCLA,Thousand Oaks,CA,34.171427,-118.910588,2014,4,108,SEA,DE,UCLA
8,Jordan Payton,WR,2012,135,4,0.9427,UCLA,Thousand Oaks,CA,34.171427,-118.910588,2016,5,154,CLE,WR,UCLA
9,Eric Berry,CB,2007,3,5,0.9986,Tennessee,Fairburn,GA,33.567056,-84.581042,2010,1,5,KAN,DB,Tennessee

In [5]:
recruits = pd.read_sql_table('cfb_recruits', engine)
recruits.head(10)

,PLAYER,FIRST_NAME,LAST_NAME,POS,YEAR,RNK,STAR,247_SCORE,COLLEGE,CITY,STATE,LAT,LNG,HIGH_SCHOOL
0,Joe McKnight,Joe,McKnight,RB,2007,1,5,0.9997,USC,New Orleans,LA,30.032802,-89.975005,John Curtis
1,Lionel Breaux,Lionel,Breaux,WR,2007,305,3,0.8795,Mississippi,New Orleans,LA,30.032802,-89.975005,McDonogh 35
2,Korey Williams,Korey,Williams,ILB,2007,519,3,0.8559,Southern Miss,New Orleans,LA,30.032802,-89.975005,Edna Karr
3,Tyler Stradford,Tyler,Stradford,WR,2007,523,3,0.8559,Oklahoma,New Orleans,LA,30.032802,-89.975005,O Perry Walker
4,Delvin Breaux,Delvin,Breaux,CB,2007,665,3,0.8479,LSU,New Orleans,LA,30.032802,-89.975005,McDonogh 35
5,Jonathan English,Jonathan,English,DT,2007,675,3,0.8479,Arizona State,New Orleans,LA,30.032802,-89.975005,John Curtis
6,Terrence Moore,Terrence,Moore,DT,2007,704,3,0.8444,Nebraska,New Orleans,LA,30.032802,-89.975005,John Mcdonogh Senior
7,Alex Williams,Alex,Williams,OT,2007,710,3,0.8434,Oklahoma,New Orleans,LA,30.032802,-89.975005,O Perry Walker
8,Colby Arceneaux,Colby,Arceneaux,CB,2007,1409,2,0.7889,Mississippi,New Orleans,LA,30.032802,-89.975005,John Curtis
9,Preston Numa,Preston,Numa,DT,2007,1636,2,0.7667,Purdue,New Orleans,LA,30.032802,-89.975005,John Curtis