In [2]:
import pandas as pd
import os
import glob

In [3]:
path = 'draft/*.csv'
all_files = glob.glob(os.path.join(path))
df = pd.concat((pd.read_csv(f) for f in all_files))

In [4]:
df = df.reset_index(drop=True)
df.head()

,Year,Rnd,Pick,Tm,Player,Pos,Age,To,College/Univ
0,2009,1,1,DET,Matthew Stafford\StafMa00,QB,21.0,2017.0,Georgia
1,2009,1,2,STL,Jason Smith\SmitJa22,T,23.0,2012.0,Baylor
2,2009,1,3,KAN,Tyson Jackson\JackTy98,DE,23.0,2016.0,LSU
3,2009,1,4,SEA,Aaron Curry\CurrAa99,LB,23.0,2012.0,Wake Forest
4,2009,1,5,NYJ,Mark Sanchez\SancMa00,QB,22.0,2016.0,USC

In [5]:
df['Name'], df['Extra'] = df['Player'].str.split('\\', 2).str

In [6]:
df = df.drop(['Player','Extra'], axis=1)
df = df.rename(columns={'Name':'Player', 'College/Univ':'College'})
df = df[['Year', 'Rnd', 'Pick', 'Player', 'Tm', 'Pos', 'Age', 'To', 'College']]

In [7]:
df.head()

   Year  Rnd Pick            Player   Tm Pos   Age      To      College
0  2009    1    1  Matthew Stafford  DET  QB  21.0  2017.0      Georgia
1  2009    1    2       Jason Smith  STL   T  23.0  2012.0       Baylor
2  2009    1    3     Tyson Jackson  KAN  DE  23.0  2016.0          LSU
3  2009    1    4       Aaron Curry  SEA  LB  23.0  2012.0  Wake Forest
4  2009    1    5      Mark Sanchez  NYJ  QB  22.0  2016.0          USC

In [8]:
df_pos = pd.read_csv('nfl_positions.csv')

In [9]:
df.set_index(['Pos'], inplace=True)
df_pos.set_index(['Pos'], inplace=True)

df = df.join(df_pos).reset_index()

df = df[['Year','Rnd','Pick','Player','Tm','Pos','Meaning','Age','To','College']]
df = df.rename(columns={'Meaning':'Position'})
df.head()

   Year  Rnd Pick          Player   Tm Pos Position   Age      To     College
0  2009    1   21       Alex Mack  CLE   C   Center  23.0  2017.0  California
1  2009    1   28       Eric Wood  BUF   C   Center  23.0  2017.0  Louisville
2  2009    2   49       Max Unger  SEA   C   Center  23.0  2017.0      Oregon
3  2009    4  106  Jonathan Luigs  CIN   C   Center  23.0  2009.0    Arkansas
4  2009    6  198     Jake Ingram  NWE   C   Center  23.0  2010.0      Hawaii

In [19]:
# result = df.sort(['A', 'B'], ascending=[1, 0])
result = df.sort_values(by=['Year','Rnd','Pick']).reset_index(drop=True)
result.head()

,Year,Rnd,Pick,Player,Tm,Pos,Position,Age,To,College
0,2009,1,1,Matthew Stafford,DET,QB,Quarterback,21.0,2017.0,Georgia
1,2009,1,2,Jason Smith,STL,T,Tackle,23.0,2012.0,Baylor
2,2009,1,3,Tyson Jackson,KAN,DE,Defensive End,23.0,2016.0,LSU
3,2009,1,4,Aaron Curry,SEA,LB,Linebacker,23.0,2012.0,Wake Forest
4,2009,1,5,Mark Sanchez,NYJ,QB,Quarterback,22.0,2016.0,USC

In [20]:
result.to_csv('all_draft.csv', encoding='utf-8', index=False)